/* Media Query */
$maxMobile: "(max-width: 576px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

/* Colors */
$blueColor: #7971ea;
$grayColor: #393e46;
$darkColor: #222831;
$shadowColor: #aaadb3;